* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container {
  @include make-container();
  @include make-max-width-container();
}

.block {
  background-color: hsl(0, 1%, 74%);
  border: 1px solid rgb(124, 121, 121);
  padding: 20px;
  text-align: center;
  height: 100%;
}

.grid-row {
  @include make-row();
  --bs-gutter-y: 1rem;

  & > * {
    @include make-col-ready();
  }
}

.header {
  @extend .grid-row;
  min-height: 90px;
  margin-bottom: 30px;

  &__logo {
    @include make-col(6);
  }

  &__nav {
    @include make-col(6);
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 40px;

    &__logo {
      @include make-col(2);
    }

    &__nav {
      @include make-col(10);
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.promo {
  @extend .grid-row;
  min-height: 660px;
  margin-bottom: 163px;

  @media (min-width: $mobile) {
    margin-bottom: 210px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 177px;
  }

  @include media-breakpoint-up(md) {
    &__item {
      @include make-col(6);
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 278px;
  }
}

.test-checkbox {
  padding-top: 30px;
  background: rgb(193, 227, 182);
}

.checkbox__form {
  font-weight: 400;
  max-width: 350px;
  min-height: 150px;

  @media (min-width: $mobile) {
    max-width: 180px;
    min-height: 90px;
  }
}

.checkbox__form input {
  appearance: none;
  position: relative;
}

.checkbox__form input::before {
  content: "";
  width: 99px;
  height: 99px;
  border-radius: 50%;
  background: linear-gradient(109deg, rgba(201, 201, 201, 0.8) 1.57%, rgba(196, 196, 196, 0.1) 100%);
  backdrop-filter: blur(50px);
  position: absolute;
  top: -24px;
  left: -200px;
  transition: all 0.06 ease;

  @media (min-width: $mobile) {
    width: 42px;
    height: 42px;
    left: -98px;
    top: -4px;
  }
}

.checkbox__form input:checked::before {
  background: transparent;
  backdrop-filter: none;
}

.checkbox__form label {
  position: relative;
  width: 51px;
  height: 25px;
  background: rgb(238, 239, 243);
  box-shadow: -1px 2px 6px rgb(87, 95, 107);
  border-radius: 40px;
  display: block;
  cursor: pointer;
  z-index: 2;

  @media (min-width: $mobile) {
    width: 24px;
    height: 12px;
  }
}

.checkbox__form input:checked + label {
  background: linear-gradient(90deg, rgb(221, 242, 71) -2.5%, rgb(221, 242, 71) 100%);
}

.checkbox__form label::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: linear-gradient(310.59deg, rgb(242, 244, 247) 4%, rgb(229, 230, 236) 120%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 6px rgb(255, 255, 255);
  position: absolute;
  top: 4px;
  left: 4px;
  transition: all 0.2s ease;

  @media (min-width: $mobile) {
    width: 8px;
    height: 8px;
    top: 2px;
    left: 3px;
  }
}

.checkbox__form input:checked + label::after {
  left: calc(100% - 24px);
  box-shadow: 2px 2px 6px rgba(36, 65, 93, 0.3), -1px -1px 6px rgb(255, 255, 255);

  @media (min-width: $mobile) {
    left: calc(100% - 11px);
  }
}

.checkbox-text {
  display: inline-block;
  max-width: 350px;
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  left: -60%;
  top: -53px;
  opacity: 0;
  transition: all 0.2s ease;

  @media (min-width: $mobile) {
    max-width: auto;
    top: -25px;
  }
}

.checkbox-text p {
  margin: 15px 0 0 0;
  text-align: left;
  font-size: 20px;
  line-height: 27px;
  color: rgb(0, 0, 0);

  @media (min-width: $mobile) {
    font-size: 10px;
    line-height: 14px;
    margin: 7px 0 0 0;
  }
}

.checkbox__1 input:checked ~ .checkbox-text,
.checkbox__2 input:checked ~ .checkbox-text,
.checkbox__3 input:checked ~ .checkbox-text,
.checkbox__4 input:checked ~ .checkbox-text {
  min-height: 80px;
  border-radius: 72px;
  background: linear-gradient(309deg, rgb(242, 243, 246) -13%, rgb(229, 230, 236) 172%);
  box-shadow: 3px 3px 20px rgba(36, 65, 93, 0.3), -4px -4px 20px rgb(255, 255, 255);
  opacity: 1;
  padding-left: 96px;
  padding-right: 30px;

  @media (min-width: $mobile) {
    min-height: 38px;
    padding-left: 44px;
  }
}

.checkbox__1 input:checked ~ .checkbox-text {
  left: -67px;

  @media (min-width: $mobile) {
    left: -27px;
  }
}

.checkbox__2 input:checked ~ .checkbox-text {
  left: -22px;
  padding-right: 20px;

  @media (min-width: $mobile) {
    left: -8px;
  }
}

.checkbox__3 input:checked ~ .checkbox-text {
  left: -28px;

  @media (min-width: $mobile) {
    left: -13px;
    padding-right: 20px;
  }
}

.checkbox__4 input:checked ~ .checkbox-text {
  left: -24px;

  @media (min-width: $mobile) {
    left: -15px;
    padding-right: 10px;
  }
}

.skill {
  @extend .grid-row;
  min-height: 894px;
  margin-bottom: 50px;

  @media (min-width: $mobile) {
    margin-bottom: 84px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;

    &__speaking {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    &__writing {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    &__reading {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &__listening {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
  }

  @media (min-width: $middle) {
    margin-bottom: 52px;
    grid-template: 60% 40% / 1fr 1fr 1fr;

    &__speaking {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }

    &__writing {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    &__reading {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
    }

    &__listening {
      grid-row: 2 / 3;
      grid-column: 2 / 4;
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 106px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 250px;
  }
}

.about-us {
  @extend .grid-row;
  min-height: 500px;
  margin-bottom: 200px;

  @media (min-width: $mobile) {
    margin-bottom: 260px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 200px;

    &__item {
      @include make-col(6);
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 325px;
  }
}

.pricing {
  @extend .grid-row;
  min-height: 582px;
  margin-bottom: 190px;

  @media (min-width: $mobile) {
    margin-bottom: 326px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 101px;

    &__item {
      @include make-col(4);
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 140px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 260px;
  }
}

.contact {
  @extend .grid-row;
  min-height: 430px;
  margin-bottom: 133px;

  @include media-breakpoint-up(md) {
    &__img {
      @include make-col(4);
    }

    &__form {
      @include make-col(8);
    }
  }
}

.footer {
  @extend .grid-row;

  @include media-breakpoint-up(sm) {
    &__logo {
      @include make-col(3);
    }

    &__policy {
      @include make-col(9);
    }
  }

  @include media-breakpoint-up(md) {
    &__logo {
      @include make-col(2);
    }

    &__policy {
      @include make-col(10);
    }
  }
}

//!  RANGE  *  RANGE  *  RANGE  *  RANGE  *  RANGE  *  RANGE  *  RANGE

.range {
  background-color: #212121;
}

.range__container {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.range__body {
  position: relative;
  appearance: none;
  width: 100%;
  height: 29px;
  background-color: transparent;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.range__body:hover {
  opacity: 1;
}

.range__item {
  position: relative;
}

.range__item::before {
  position: absolute;
  content: url("../../img/white-left.png");
  width: 26px;
  height: 29px;
  top: -8px;
  left: -23px;
  opacity: 0.7;
  transition: 0.2s;
}

.range__item::after {
  position: absolute;
  content: url("../../img/white-right.png");
  width: 26px;
  height: 29px;
  top: -8px;
  right: -23px;
  opacity: 0.7;
  transition: 0.2s;
}

@-moz-document url-prefix() {
  .range__item::before,
  .range__item::after {
    top: -10px;
  }
}

.range__item:hover::before,
.range__item:hover::after {
  opacity: 1;
}

.range__body::-webkit-slider-thumb {
  appearance: none;
  width: 42px;
  height: 48px;
  background-color: transparent;
  background-image: url("../../img/thumb.png");
  cursor: pointer;
}

.range__body::-moz-range-thumb {
  width: 42px;
  height: 48px;
  background-color: transparent;
  background-image: url("../../img/thumb.png");
  cursor: pointer;
  border: none;
}
